*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
.btn,.btn1,.btn2{
    background-color: #469165;
    border-radius: 4px;
    border: none;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
}


    

/* main style */
header{
    background-color: #FFFFFF;
    padding-top: 21px;
    
}
nav{
    width: 83%;
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.logo img{
    width: 139px;
    
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;

}
nav .menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
#banner {
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    
    
}
#banner .banner-content{
    padding: 115px 0 179px 0;
    align-items: center;
    justify-content: center;
    text-align: center;

}
#banner .banner-content .box{
    padding: 8px 12px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    color: #469165;
    font-size: 16px;
    font-weight: 500px;
    
}
#banner .banner-content h1{
    
    padding-top: 16px;
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 84px;
}
#banner .banner-content h1 span{
    color: #30B868;
}
#banner .banner-content p{
    margin: 0 auto;
    width: 770px;
    padding-top: 16px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    /* justify-content: center;
    text-align: center; */


    
}
.btns .btn2{
    background: none;
    border: 1px solid #FFFFFF;
    gap: 16px;

}
.btns{
    padding-top: 32px;
     display: flex;
     gap: 16px;
     justify-content: center;
    
}

.btns :hover{
    background-color:blueviolet;
    transform: translateY(-5px);
    cursor: pointer;
    
}
.btn:hover{
    background-color:blueviolet;
    transform: translateY(-5px);
    cursor: pointer;

}
#card{
    width: 84%;
    max-width: 1360px;
    margin: 0 auto;
}


#card .card-container .section-heading{
   
    text-align: center;
    padding-top: 60px;
}

#card .card-container .section-heading h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
#card .card-container .section-heading p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 44px;

}

#card .card-container .card-item{
    display: flex;
    gap: 24px;
 
    
}

.card-item .card-box{
    padding: 69.5px 24px;
    text-align: center;
    max-width: 322px;
    box-shadow: 0 10px 20px 0 #cdbcbc;
}

.card-item .card-box img{
    max-width: 60px;
    background-color: #F95555;
    padding: 14px;
    border-radius: 100%;
    margin-bottom: 16px;

}

.card-item .card-box h4{
    color: #001931;
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 14px;
}
.card-item .card-box p{
    color: #627382;
    font-size: 16px;
}

#brain{
    width: 84%;
    max-width: 1360px;
    margin: 0 auto;
    
}
#brain .barin-container{
    display: flex;
    margin-top: 120px;
    gap: 60px;
}


#brain .barin-container img{
    max-width: 600px;
    

}

#brain .barin-container h6{
    color: #30B868;
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    margin-bottom: 16px;
    padding-top: 102px;
}
#brain .barin-container h1{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    
}
#brain .barin-container p{
    color: #627382;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 20px;
    
}
.tik li{
    color: #001931;
    font-size: 16px;
    list-style: none;
    line-height: 20px;
    margin-bottom: 16px;
}
.tik li img{
    vertical-align: middle;

}



  




