*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
.btn,.btn1,.btn2{
    background-color: #469165;
    border-radius: 4px;
    border: none;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
}


    

/* main style */
header{
    background-color: #FFFFFF;
    padding-top: 21px;
}
nav{
    width: 83%;
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 139px;
    
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;

}
nav .menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
#banner {
    
  
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
#banner .banner-content{
    padding: 115px 400px 179px 400px;
    align-items: center;
    justify-content: center;
    text-align: center;

}
#banner .banner-content .box{
    padding: 8px 12px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    color: #469165;
    font-size: 16px;
    font-weight: 500px;
    
}
#banner .banner-content h1{
    
    padding-top: 16px;
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 84px;
}
#banner .banner-content h1 span{
    color: #30B868;
}
#banner .banner-content p{
    margin: 0 auto;
    width: 770px;
    padding-top: 16px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    /* justify-content: center;
    text-align: center; */


    
}
.btns .btn2{
    background: none;
    border: 1px solid #FFFFFF;
    gap: 16px;

}
.btns{
    padding-top: 32px;
     display: flex;
     gap: 16px;
     justify-content: center;
    
}

.btns :hover{
    background-color:blueviolet;
    transform: translateY(-5px);
    cursor: pointer;
    
}
.btn:hover{
     background-color:blueviolet;
    transform: translateY(-5px);
    cursor: pointer;

}
  




